asgiref==3.9.1
certifi==2026.5.20
charset-normalizer==3.4.7
dj-rest-auth==7.2.0
Django==5.1.14
django-allauth==65.16.1
django-cors-headers==4.9.0
django-filter==25.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
idna==3.16
pillow==12.2.0
psycopg2-binary==2.9.10
PyJWT==2.12.1
python-dotenv==1.0.0
requests==2.32.4
sqlparse==0.5.3
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
